<div header-container>
    <nb-actions   size="small">
      <nb-action icon="search-outline"></nb-action>
      <nb-action icon="person-outline"></nb-action>
              <nb-action icon="email-outline"
                   badgeDot
                   badgeText="12"
                   badgePosition="top left"
                   badgeStatus="danger">
              </nb-action>
      <nb-action icon="home-outline"></nb-action>
      <nb-action icon="power-outline"></nb-action>
      <nb-action [icon]="disabledIconConfig" disabled> Bruno Mars</nb-action>
    </nb-actions>
</div>

