<nb-layout>

  <nb-layout-header size="small">
      <h5>School Bus Tracking </h5>
      <app-parent></app-parent>
  </nb-layout-header>

  <nb-layout-column>
      <app-eleves></app-eleves>
      <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-column>
  <nb-card size="small">
          <nb-card-body >
                <!-- this creates a google map on the page with the given lat/lng from -->
                  <!-- the component as the initial center of the map: -->
        <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </nb-card-body>
  </nb-card>
  <app-sidebar></app-sidebar>
  </nb-layout-column>
</nb-layout>
