nb-layout-header {
  background-color :#a3d9ff// #69ef94 ;// #0098ff // #00ffaa; //#D6E4FF;
}

nb-layout-column{
  background-color : #0095ff ;//#69ef94 ;// #0098ff //#00ffaa; //#9900ff;
}

agm-map {
  height: 712px;
}

.prev-button {
  margin-right: 1rem;
}


@media screen and (max-width: 768PX){
  nb-layout-header{
    display: inline;
  }
  h5 .title {
    width: 5px;
  }
}
